body{
  font-family:'Poppins',sans-serif;
  color:white;
  background:linear-gradient(-45deg,#020617,#0f172a,#020617,#1e293b);
  background-size:400% 400%;
  animation:bgMove 12s ease infinite;
}

@keyframes bgMove{
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
*{margin:0;padding:0;box-sizing:border-box}
body{
  font-family:'Poppins',sans-serif;
  background:#0f172a;
  color:white;
}

.nav{
  display:flex;
  justify-content:space-between;
  padding:18px 8%;
  background:#020617;
  position:sticky;
  top:0;
  z-index:1000;
}

.nav ul{
  display:flex;
  gap:25px;
  list-style:none;
}

.nav a{color:white;text-decoration:none}

.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(120deg,#020617,#0f172a);
}

.typing{color:#38bdf8;}

.btn{
  margin-top:20px;
  padding:12px 26px;
  background:#38bdf8;
  color:#000;
  border-radius:6px;
  text-decoration:none;
}

.section{
  padding:80px 10%;
  text-align:center;
}

.dark{background:#020617;}

.skill{width:60%;margin:20px auto;text-align:left}
.bar{
  height:8px;
  background:#111;
  border-radius:10px;
}
.bar span{
  display:block;
  height:100%;
  width:0;
  background:#38bdf8;
  border-radius:10px;
  transition:1.5s;
}

.grid{
  display:flex;
  gap:25px;
  flex-wrap:wrap;
  justify-content:center;
}

.card{
  position:relative;
  background:#020617;
  padding:40px;
  width:250px;
  border-radius:10px;
  overflow:hidden;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.7);
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:0;
  transition:0.3s;
}
.card:hover .overlay{opacity:1;}

.overlay button{
  padding:10px 20px;
  background:#38bdf8;
  border:none;
}

footer{
  padding:20px;
  background:#020617;
  text-align:center;
}
