body{
  margin:0;
  font-family:Segoe UI, sans-serif;
  background:#0f172a;
  color:white;
}

.nav{
  display:flex;
  justify-content:space-between;
  padding:18px 8%;
  background:#020617;
  position:sticky;
  top:0;
}

.nav ul{
  display:flex;
  list-style:none;
  gap:25px;
}

.nav a{
  color:white;
  text-decoration:none;
}

.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero span{color:#38bdf8;}

.btn{
  margin-top:20px;
  padding:12px 22px;
  background:#38bdf8;
  color:#000;
  text-decoration:none;
  border-radius:6px;
}

.section{
  padding:80px 10%;
  text-align:center;
}

.dark{background:#020617;}

.grid{
  display:flex;
  justify-content:center;
  gap:25px;
  flex-wrap:wrap;
}

.card{
  background:#020617;
  padding:25px;
  border-radius:10px;
  width:250px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 15px 25px rgba(0,0,0,0.5);
}

.skill{margin:20px auto; width:60%; text-align:left;}

.bar{
  height:8px;
  background:#111;
  border-radius:10px;
}

.bar span{
  display:block;
  height:100%;
  background:#38bdf8;
  border-radius:10px;
}

footer{
  text-align:center;
  padding:20px;
  background:#020617;
}
